/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRil_CtViMeUqCSuR9ZbNve9eos5do9WHyU9yZi8NF1UmfSDxUv); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
